<div [ngClass]="'product-item-wrapper'">
    <div>
        <a routerLink="/products/{{ product.id }}"><img src='{{ product.url }}' [ngClass]="'product-image'" /></a>
    </div>
    <div [ngClass]="'product-info'">
        <div>
            <div [ngClass]="'product-name'">{{ product.name }}</div>
            <div [ngClass]="'product-price'">{{ product.price.toLocaleString('en-US', {style: 'currency', currency:'USD'}) }}</div>
        </div>
        <div class="add-to-cart" >
            <mat-form-field appearance="outline" [ngClass]="'custom-form-field'">
                <!-- <mat-label>Quantity</mat-label> -->
                <mat-select name="quantity" [(ngModel)]="product.quantity" (ngModelChange)="product.quantity=product.quantity===undefined?0:+product.quantity">
                    <mat-option *ngFor="let v of quantities" [value]="v" >
                    {{v}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="onAddtoCart(product)" mat-stroked-button color="accent" [ngClass]="'custom-button'">Add to Cart</button>
        </div>    
    </div>
      
      
</div>
