@import '../../../styles/_variables';
.product-image {      
  list-style-type: none;
  width: 310px;
  padding: 5px;
} 


.product-info {
  display: flex;
  flex-direction: row;
  align-items:stretch;
  justify-content: space-between;
  text-align: left;
  max-width: 310px;
  height: 20px;
  margin: auto;
  color: $primary-palette;

  .product-name {
    font-weight: 500;
    padding-bottom: 10px;
  }
}

.custom-form-field {
  width: 100px;

}

.custom-button {
  height: 60px;
  position: relative;
  top: -5.5px;
}
