<div [ngClass]="'detail-container '">
    <div [ngClass]="''">
        <img src='{{ product.url }}' />
    </div>
    <div [ngClass]="'detail-item'">
        <div><h2>{{ product.name }}</h2></div>
        <div><b>{{ product.price.toLocaleString('en-US', {style: 'currency', currency:'USD'}) }}</b></div>
        <div><p>{{ product.description }}</p></div>    
        
        <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <mat-select name="quantity" [(ngModel)]="product.quantity" [ngClass]="'select-input'" (ngModelChange)="product.quantity=product.quantity===undefined?0:+product.quantity">
                <mat-option *ngFor="let v of quantities" [value]="v">
                {{v}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <div>
            <button (click)="onAddtoCart(product)" mat-raised-button color="primary">Add to Cart</button>   
        </div>
        <div [ngClass]="'back-link'"><a routerLink="/" mat-stroked-button>Back to List</a></div>
    </div>
</div>  
