@import '../../../styles/_variables';

img {
  border-radius: 10px;
  width: 320px;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  color: $primary-palette;
}

.custom-button {
  height: 60px;
  position: relative;
  top: -5.5px;
}

.detail-item {
  margin-left: 128px;
  margin-right: 128px;
}

.back-link {
  margin-top: 8px;
}